#!/usr/bin/make -f
# Build file for go-e-sma-homewizard-controller Debian package

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	go build -o go-e-sma-homewizard-controller go-e-sma-homewizard-controller.go nighttime_basic.go

override_dh_auto_test:
	go vet go-e-sma-homewizard-controller.go nighttime_basic.go

override_dh_dwz:
	# Go binaries contain compressed DWARF sections unsupported by dwz.

override_dh_auto_install:
	mkdir -p debian/go-e-sma-homewizard-controller/usr/bin
	install -m 0755 go-e-sma-homewizard-controller debian/go-e-sma-homewizard-controller/usr/bin/go-e-sma-homewizard-controller
	
	# Install config template
	mkdir -p debian/go-e-sma-homewizard-controller/etc/go-e-sma-homewizard-controller
	install -m 0644 go-e-sma-homewizard-controller.conf debian/go-e-sma-homewizard-controller/etc/go-e-sma-homewizard-controller/go-e-sma-homewizard-controller.conf.example
	
	# Install systemd service file
	mkdir -p debian/go-e-sma-homewizard-controller/lib/systemd/system
	install -m 0644 debian/systemd/go-e-sma-homewizard-controller.service debian/go-e-sma-homewizard-controller/lib/systemd/system/
	
	# Install README and LICENSE
	mkdir -p debian/go-e-sma-homewizard-controller/usr/share/doc/go-e-sma-homewizard-controller
	install -m 0644 README.md debian/go-e-sma-homewizard-controller/usr/share/doc/go-e-sma-homewizard-controller/
	install -m 0644 LICENSE debian/go-e-sma-homewizard-controller/usr/share/doc/go-e-sma-homewizard-controller/
